body {
    margin: 0;
    padding: 0;
}

#particles-js {
    background: deepskyblue;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

#navbar {
    height: 9vh;
    background-color: #00A6E6;
    padding-left: 2vw;
    padding-right: 2vw;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

#navbar-content .right a {
    margin-left: 3vw;
    font-size: 2vh;
}

#navbar-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Roboto';
    color: white;
}

#navbar-content a {
    transform: translateY(-50%);
    text-align: center;
    display: inline-block;
}

#brand {
    font-size: 4vh;
}

#simple {
    margin-top: 5vh;
    text-align: center;
    font-family: 'Roboto';
    background-color: deepskyblue; 
}

#main-content {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
}

#simple a, #simple a:hover, #simple a:visited {
    text-decoration: none;
    color: inherit;
}

#fair {
    font-size: 30px;
    color: #ff0000;
    font-weight: bold;
}

#description {
    font-size: 24px;
    color: 	#00ff00;
}

.playing-tab {
    padding-top: 3vh;
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.playing-tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: beige;
    border-top-right-radius: 16px;
    margin-right: 1px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: deepskyblue;
}

/* Change background color of buttons on hover */
.playing-tab button:hover {
    color: lightgreen;
}

/* Create an active/current tablink class */
.playing-tab button.active {
    border-style: solid;
    border-left-color: lightgreen;
    border-top-color: lightgreen;
    border-right-color: lightgreen;
    border-left-width: 2px;
    border-top-width: 5px;
    border-right-width: 1px;
    border-bottom-width: 0px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid lightgreen;
    background-color: deepskyblue;
    padding: 1vh 1vw 1vh 1vw;
    overflow: hidden;
}

.instructions {
    margin: 0.5vh;
    font-family: 'Roboto';
    font-size: 17px;
    color: 	#DCDCDC;
    margin-top: 3vh;
}

#play h4 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 0.7vh;
    color: pink;
}

#play {
    text-align: center;
}


#play input[type=number] {
    background-color: inherit;
    border-radius: 16px;
    border-color: #77D577;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    width: 40%;
    color: #ff4000;
    font-size: 20px;
}

.part {
    padding-top: 1vh;
    border-radius: 16px;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid lightgreen;
    height: 30vh;
}

@media screen and (min-width: 1100px) {
    .part {
        width: 31.5%;
    }
    .gap {
        margin-right: 2%;
    }
}

@media screen and (max-width: 1099px) {
    .part {
        width: 100%;
    }
}



.part h4 {
    margin-top: 2vh;
}

#bet-info .instructions {
    margin-top: 2vh;
}

#number-display {
    width: 70%;
    height: 5vh;
    border-radius: 16px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid lightgreen;
    color: #ff4000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.simple-box {
    height: 3vh;
    width: 70%;
    border-radius: 16px;
    border: 1px solid lightgreen;
    color: #ff4000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    background: #77D577; /* Grey background */
    height: 15px;
    border-radius: 5px;   
    outline: none; /* Remove outline */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 50%; 
    background-color: whitesmoke; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}