body {
    margin: 0;
    padding: 0;
}

#particles-js {
    background: deepskyblue;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

#navbar {
    height: 9vh;
    background-color: #00A6E6;
    padding-left: 2vw;
    padding-right: 2vw;
    overflow: hidden;
}

.center {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
}

.left {
    float: left;
}

.right {
    float: right;
}

#navbar-content .right a {
    margin-left: 3vw;
    font-size: 2vh;
}

#navbar-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Roboto';
    color: white;
}

#navbar-content a {
    transform: translateY(-50%);
    text-align: center;
    display: inline-block;
}

#brand {
    font-size: 4vh;
}

#simple {
    margin-top: 5vh;
    text-align: center;
    font-family: 'Roboto';
    background-color: inherit; 
}

#main-content {
    margin-left: 3vw;
    margin-right: 3vw;
}

#simple a, #simple a:hover, #simple a:visited {
    text-decoration: none;
    color: inherit;
}

#real-content {
    margin-top: 3vh;
}

#fair {
    font-size: 30px;
    color: #ff0000;
    font-weight: bold;
}

#description {
    font-size: 24px;
    color: 	#00ff00;
}

.tab {
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: beige;
    border-top-right-radius: 16px;
    margin-right: 1px;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: deepskyblue;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color: lightgreen;
}

/* Create an active/current tablink class */
.tab button.active {
    border-style: solid;
    border-left-color: lightgreen;
    border-top-color: lightgreen;
    border-right-color: lightgreen;
    border-left-width: 2px;
    border-top-width: 5px;
    border-right-width: 1px;
    border-bottom-width: 0px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid lightgreen;
    background-color: #4dd2ff;
    padding: 1vh 1vw 1.5vh 1vw;
    overflow: hidden;
}

@media-screen and (max-width: 540px) {
    #rollUnder {
        margin-left: 5% !important;
    }
    #rollOver {
        margin-right: 5% !important;
    }
}

@media screen and (min-width: 1000px) {
    .tabcontent {
        width: 43vw;
    }
}

@media screen and (max-width: 999px) {
    .tabcontent, #results {
        width: 80vw;
        float: none !important;
        margin: 0 auto;
    }
    #rollUnder {
        margin-left: 30% !important;
    }
    #rollOver {
        margin-right: 30% !important;
    }
    .numberBox {
        width: 70%;
    }

}

@media screen and (max-width: 1400px) and (min-width: 1000px) {
    #rollUnder {
        margin-left: 15% !important;
    }
    #rollOver {
        margin-right: 15% !important;
    }
}

@media screen and (max-width: 1640px) {
    #betSizeContainer, #profitContainer, #sizeInfoContainer, #winChanceContainer {
        width: 95%;
        float: none;
    }
    #seperator, #seperator2 {
        height: 4vh;
    }
    #rollUnder {
        margin-left: 24% !important;
    }
    #rollOver {
        margin-right: 24% !important;
    }
}

.secondTab {
    border-color: deepskyblue;
}

.instructions {
    margin: 0.5vh;
    font-family: 'Roboto';
    font-size: 17px;
    color: 	#DCDCDC;
    margin-top: 3vh;
}

h4 {
    margin: 0;
    font-size: 23px;
    margin-bottom: 0.7vh;
    color: white;
}

#play {
    text-align: center;
}

.numberBox {
    background-color: #67ECFF;
    border-color: #77D577;
    padding-top: 1.3vh;
    padding-bottom: 1.3vh;
    padding-right: 1.6vw;
    text-align: right;
    color: floralwhite;
    font-size: 20px;
    border: 1px solid #ff7a4d;
    display: inline-block;
}

.clear {
    clear: both;
}

.simple-box {
    padding: 1.3vh 0.7vw 1.3vh 1vw;
    display: inline-block;
    text-align: center;
    color: floralwhite;
    font-size: 20px;
    background-color: deepskyblue;
    border: 1px solid #ff7a4d;
}

#info input {
    background-color: #00bfff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row {
    background-color:#00A6E6;
    margin: 0;
    width: 100%;
}

.col {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: white;
    padding-top: 1.3vh;
    padding-bottom: 1.3vh;
    margin: 0;
    width: 24%;
    cursor: pointer;
}

.col:hover {
    background-color: #ff7a4d;
}

#spacefiller {
    height: 4vh;
}

#spacefiller2 {
    height: 2.4vh;
    background-color: inherit;
}

#rollContainer {
    width: 100%;
    background-color: #4dd2ff;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

#rollContainer button {
    background-color: #00A6E6;
    border: 0;
    color: floralwhite;
    font-family: "Roboto";
    font-size: 18px;
    padding: 1.2vh 0.8vw 1vh 0.8vw;
}

#rollContainer button:hover {
    background-color: #ff7a4d;
    cursor: pointer;
}

#rollUnder {
    margin-left: 30%;
}

#rollOver {
    margin-right: 28%;
}

.part {
    padding-top: 1vh;
    border-radius: 16px;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid lightgreen;
    height: 30vh;
}

.part h4 {
    margin-top: 2vh;
}

#bet-info .instructions {
    margin-top: 2vh;
}

#bet-content {
    padding: 1vh 1vw 1vh 1vw;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tableContainer {
    height: 40vh;
    overflow-y: scroll;
}

table {
    font-family: "Roboto";
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    padding: 8px;
}

table tr:nth-child(odd) {
    background-color: #00ade7;
}

table tr:nth-child(even) {
    background-color: deepskyblue;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4dd2ff;
    color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}

::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

#autoBet {
    text-align: center;
}